.use {
    padding-top: 120px;
    &__wrapper {
        padding-top: 60px;
        position: relative;
/*         display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px; */
    }
    &__part {
        margin: 0 15px;
        width: 270px;
        height: 270px;
        border: 1px solid #000000;
    }
    &__img {
        width: 100%;
        padding: 30px 0 0 30px;
        margin: left;
    }
    &__title {
        padding: 20px 0 0 30px;
    }
    &__descr {
        padding: 15px 30px 0 30px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        span {
            font-weight: 700;
        }
    }
    &__skills {
        padding-top: 120px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 45px;
        row-gap: 30px;
        &-header {
            display: flex;
            justify-content: space-between;
        }
        &-line {
            margin-top: 27px;
            width: 300px;
            height: 14px;
            background: #E8E4DE;
            border-radius: 4px;
        }
        &-lineorange {
            background: $main-color;
            width: 90%;
            height: 14px;
            border-radius: 4px;
        }
    }
    &__left, &__right {
        position: absolute;
        top: 44%;
        transform: translateY(-50%);
        left: -20px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
        &:focus {
            outline: none;
        }
    }
    &__right {
        right: -40px;
        left: auto;
    }
}